<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.github.rezalotfi01.bwallet">
    <application>
        <activity
                android:name="com.github.rezalotfi01.bwallet.ui.MainActivity"
                tools:node="merge"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden">
        </activity>
    </application>
</manifest>